USSS/Service References/SubscriberService/SubscriberService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="urn:uss-wsapi:Subscriber" targetNamespace="urn:uss-wsapi:Subscriber" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="getBillChargesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="BillChargesList" type="ns0:billChargeDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCTNInfoListPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="changePP">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="pricePlan" type="xsd:string" />
      <xsd:element minOccurs="0" name="futureDate" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiPaymentInfoPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getSIMListPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SIMListPaged" type="ns0:apiSimPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createOrDeleteInvitedFttbCtn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="fttbCtns" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ctnInfoDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="statusDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="status" type="xsd:string" />
      <xsd:element minOccurs="0" name="pricePlan" type="xsd:string" />
      <xsd:element minOccurs="0" name="reasonStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastActivity" type="xsd:string" />
      <xsd:element minOccurs="0" name="activationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="subscriberHLR" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createDetailsRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="periodStart" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="periodEnd" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="format" type="xsd:string" />
      <xsd:element minOccurs="0" name="channel" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="serviceDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="serviceId" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="serviceName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getServicesListPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="servicesListPaged" type="ns0:apiServiceInfoPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAdjustmentListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdjustmentList" type="ns0:adjustmentList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteSharedNumberListDOLResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBANInfoListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="BanInfoList" type="ns0:banInfoDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PaymentList" type="ns0:paymentDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="unbilledBalancesDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oc" type="xsd:double" />
      <xsd:element minOccurs="0" name="uc" type="xsd:double" />
      <xsd:element minOccurs="0" name="rc" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBANInfoListPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="login" type="xsd:string" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getServicesListPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="ctnAmountPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createOrDeleteInvitedFttbCtnResponse" />
  <xsd:complexType name="addPleSubscriberLimitInfoResponse" />
  <xsd:complexType name="addSharedNumberDOLResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiSimPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="addSharedNumberDOL">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnFrom" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnTo" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnType" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRequestList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="login" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addDelSOCResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="paymentDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="paymentStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentType" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentOriginalAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="paymentCurrentAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="bankPaymentID" type="xsd:long" />
      <xsd:element minOccurs="0" name="paymentActivateDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBANInfoList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="login" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cancelFakeSubscriptionResponse" />
  <xsd:complexType name="changePPResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="replaceSIMResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillCharges">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createBillChargesRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="billDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CTNList" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiBillCallsPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="simDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="serialNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="imsi" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="billChargeDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ban" type="xsd:string" />
      <xsd:element minOccurs="0" name="ben" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="internationalCalls" type="xsd:double" />
      <xsd:element minOccurs="0" name="nationalCalls" type="xsd:double" />
      <xsd:element minOccurs="0" name="localCalls" type="xsd:double" />
      <xsd:element minOccurs="0" name="gprs" type="xsd:double" />
      <xsd:element minOccurs="0" name="sms" type="xsd:double" />
      <xsd:element minOccurs="0" name="internationalRoamingCalls" type="xsd:double" />
      <xsd:element minOccurs="0" name="internationalRoamingSMS" type="xsd:double" />
      <xsd:element minOccurs="0" name="internationalRoamingGPRS" type="xsd:double" />
      <xsd:element minOccurs="0" name="nationalRoamingCalls" type="xsd:double" />
      <xsd:element minOccurs="0" name="nationalRoamingSMS" type="xsd:double" />
      <xsd:element minOccurs="0" name="nationalRoamingGPRS" type="xsd:double" />
      <xsd:element minOccurs="0" name="feePP" type="xsd:double" />
      <xsd:element minOccurs="0" name="feeServices" type="xsd:double" />
      <xsd:element minOccurs="0" name="discount" type="xsd:double" />
      <xsd:element minOccurs="0" name="charges" type="xsd:double" />
      <xsd:element minOccurs="0" name="latePayment" type="xsd:double" />
      <xsd:element minOccurs="0" name="sumAmount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCTNInfoListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CTNInfoList" type="ns0:ctnInfoDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addDelSOC">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="soc" type="xsd:string" />
      <xsd:element minOccurs="0" name="inclusionType" type="xsd:string" />
      <xsd:element minOccurs="0" name="effDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="expDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillCallsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="BillCallsList" type="ns0:billCallDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiRequestPageDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="requests" type="ns0:apiRequestDO" />
      <xsd:element name="recordsAmount" type="xsd:long" />
      <xsd:element name="countPerPage" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getUnbilledBalancesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="unbilledBalances" type="ns0:unbilledBalancesDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="restoreCTNResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addSharedNumberListDOL">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnFrom" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnToList" type="ns0:ctnListDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiServiceInfoPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getAdjustmentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillCallsPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSIMList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCTNInfoListPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CTNInfoListPaged" type="ns0:apictnInfoPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSIMListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SIMList" type="ns0:simDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="billCallDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ban" type="xsd:string" />
      <xsd:element minOccurs="0" name="ben" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="callDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="callNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="callToNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceName" type="xsd:string" />
      <xsd:element minOccurs="0" name="callType" type="xsd:string" />
      <xsd:element minOccurs="0" name="dataVolume" type="xsd:double" />
      <xsd:element minOccurs="0" name="callAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="callDuration" type="xsd:string" />
      <xsd:element minOccurs="0" name="callRoundDuration" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ctnListDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ctnTo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createBillCallsRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="billDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CTNList" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="unbilledCallDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="callDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="callNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="callToNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceName" type="xsd:string" />
      <xsd:element minOccurs="0" name="callType" type="xsd:string" />
      <xsd:element minOccurs="0" name="dataVolume" type="xsd:double" />
      <xsd:element minOccurs="0" name="callAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="callDuration" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getDetailsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="details" type="ns0:detailsDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="adjustmentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="adjustInvoice" type="xsd:string" />
      <xsd:element minOccurs="0" name="adjustmentAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="adjustmentDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="invoiceNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillCalls">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillChargesPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BillChargesListPaged" type="ns0:apiBillChargesPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detailsDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="binary" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="replaceSIM">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="serialNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apictnInfoPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getBANInfoListPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BanInfoListPaged" type="ns0:apibanInfoPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiPagesDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="data" type="xsd:anyType" />
      <xsd:element name="recordsAmount" type="xsd:long" />
      <xsd:element name="countPerPage" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createDetailsRequestResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getServicesList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSIMListPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cancelFakeSubscription">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="postSubscriber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiRequestDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="attachment" type="ns0:attachmentInfoDO" />
      <xsd:element minOccurs="0" name="fileSize" type="xsd:long" />
      <xsd:element minOccurs="0" name="iptvConsolesCount" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="macAddresses" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestComments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
      <xsd:element minOccurs="0" name="requestStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestSubType" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestTitle" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestType" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestUpdateDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRequestListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestList" type="ns0:apiRequestPageDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCTNInfoList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getUnbilledBalances">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UssWsApiException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:int" />
      <xsd:element minOccurs="0" name="errorDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="restoreCTN">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="actvDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="reasonCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apibanInfoPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="attachmentInfoDO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateFrom" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="dateTo" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillChargesPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentListPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PaymentListPaged" type="ns0:apiPaymentInfoPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="banInfoDO">
    <xsd:sequence>
      <xsd:element name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="banName" type="xsd:string" />
      <xsd:element minOccurs="0" name="marketCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="banCurrencyInd" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getUnbilledCallsList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="suspendCTN">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="actvDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="reasonCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="suspendCTNResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createBillCallsRequestResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentListPaged">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ban" type="xsd:long" />
      <xsd:element minOccurs="0" name="ctn" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="page" type="xsd:int" />
      <xsd:element minOccurs="0" name="recordsPerPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="apiBillChargesPage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:apiPagesDO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="deleteSharedNumberListDOL">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnFrom" type="xsd:string" />
      <xsd:element minOccurs="0" name="ctnToList" type="ns0:ctnListDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getUnbilledCallsListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UnbilledCallsList" type="ns0:unbilledCallDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createBillChargesRequestResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addPleSubscriberLimitInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="hash" type="xsd:string" />
      <xsd:element minOccurs="0" name="subscriberNo" type="xsd:string" />
      <xsd:element minOccurs="0" name="postSubscriber" type="xsd:string" />
      <xsd:element minOccurs="0" name="newLimit" type="xsd:double" />
      <xsd:element minOccurs="0" name="oldLimit" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addSharedNumberListDOLResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getServicesListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="servicesList" type="ns0:serviceDO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getBillCallsPagedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BillCallsListPaged" type="ns0:apiBillCallsPage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getBillChargesResponse" type="ns0:getBillChargesResponse" />
  <xsd:element name="getCTNInfoListPaged" type="ns0:getCTNInfoListPaged" />
  <xsd:element name="changePP" type="ns0:changePP" />
  <xsd:element name="getPaymentList" type="ns0:getPaymentList" />
  <xsd:element name="getDetails" type="ns0:getDetails" />
  <xsd:element name="getSIMListPagedResponse" type="ns0:getSIMListPagedResponse" />
  <xsd:element name="createOrDeleteInvitedFttbCtn" type="ns0:createOrDeleteInvitedFttbCtn" />
  <xsd:element name="createDetailsRequest" type="ns0:createDetailsRequest" />
  <xsd:element name="getServicesListPagedResponse" type="ns0:getServicesListPagedResponse" />
  <xsd:element name="getAdjustmentListResponse" type="ns0:getAdjustmentListResponse" />
  <xsd:element name="deleteSharedNumberListDOLResponse" type="ns0:deleteSharedNumberListDOLResponse" />
  <xsd:element name="getBANInfoListResponse" type="ns0:getBANInfoListResponse" />
  <xsd:element name="getPaymentListResponse" type="ns0:getPaymentListResponse" />
  <xsd:element name="getBANInfoListPaged" type="ns0:getBANInfoListPaged" />
  <xsd:element name="getServicesListPaged" type="ns0:getServicesListPaged" />
  <xsd:element name="createOrDeleteInvitedFttbCtnResponse" type="ns0:createOrDeleteInvitedFttbCtnResponse" />
  <xsd:element name="addPleSubscriberLimitInfoResponse" type="ns0:addPleSubscriberLimitInfoResponse" />
  <xsd:element name="addSharedNumberDOLResponse" type="ns0:addSharedNumberDOLResponse" />
  <xsd:element name="addSharedNumberDOL" type="ns0:addSharedNumberDOL" />
  <xsd:element name="getRequestList" type="ns0:getRequestList" />
  <xsd:element name="addDelSOCResponse" type="ns0:addDelSOCResponse" />
  <xsd:element name="getBANInfoList" type="ns0:getBANInfoList" />
  <xsd:element name="cancelFakeSubscriptionResponse" type="ns0:cancelFakeSubscriptionResponse" />
  <xsd:element name="changePPResponse" type="ns0:changePPResponse" />
  <xsd:element name="replaceSIMResponse" type="ns0:replaceSIMResponse" />
  <xsd:element name="getBillCharges" type="ns0:getBillCharges" />
  <xsd:element name="createBillChargesRequest" type="ns0:createBillChargesRequest" />
  <xsd:element name="getCTNInfoListResponse" type="ns0:getCTNInfoListResponse" />
  <xsd:element name="addDelSOC" type="ns0:addDelSOC" />
  <xsd:element name="getBillCallsResponse" type="ns0:getBillCallsResponse" />
  <xsd:element name="InfoResult" type="ns0:ctnInfoDO" />
  <xsd:element name="getUnbilledBalancesResponse" type="ns0:getUnbilledBalancesResponse" />
  <xsd:element name="restoreCTNResponse" type="ns0:restoreCTNResponse" />
  <xsd:element name="addSharedNumberListDOL" type="ns0:addSharedNumberListDOL" />
  <xsd:element name="getAdjustmentList" type="ns0:getAdjustmentList" />
  <xsd:element name="getBillCallsPaged" type="ns0:getBillCallsPaged" />
  <xsd:element name="getSIMList" type="ns0:getSIMList" />
  <xsd:element name="getCTNInfoListPagedResponse" type="ns0:getCTNInfoListPagedResponse" />
  <xsd:element name="getSIMListResponse" type="ns0:getSIMListResponse" />
  <xsd:element name="createBillCallsRequest" type="ns0:createBillCallsRequest" />
  <xsd:element name="getDetailsResponse" type="ns0:getDetailsResponse" />
  <xsd:element name="getBillCalls" type="ns0:getBillCalls" />
  <xsd:element name="getBillChargesPagedResponse" type="ns0:getBillChargesPagedResponse" />
  <xsd:element name="replaceSIM" type="ns0:replaceSIM" />
  <xsd:element name="getBANInfoListPagedResponse" type="ns0:getBANInfoListPagedResponse" />
  <xsd:element name="createDetailsRequestResponse" type="ns0:createDetailsRequestResponse" />
  <xsd:element name="getServicesList" type="ns0:getServicesList" />
  <xsd:element name="getSIMListPaged" type="ns0:getSIMListPaged" />
  <xsd:element name="cancelFakeSubscription" type="ns0:cancelFakeSubscription" />
  <xsd:element name="getRequestListResponse" type="ns0:getRequestListResponse" />
  <xsd:element name="getCTNInfoList" type="ns0:getCTNInfoList" />
  <xsd:element name="getUnbilledBalances" type="ns0:getUnbilledBalances" />
  <xsd:element name="restoreCTN" type="ns0:restoreCTN" />
  <xsd:element name="getBillChargesPaged" type="ns0:getBillChargesPaged" />
  <xsd:element name="getPaymentListPagedResponse" type="ns0:getPaymentListPagedResponse" />
  <xsd:element name="getUnbilledCallsList" type="ns0:getUnbilledCallsList" />
  <xsd:element name="suspendCTN" type="ns0:suspendCTN" />
  <xsd:element name="suspendCTNResponse" type="ns0:suspendCTNResponse" />
  <xsd:element name="createBillCallsRequestResponse" type="ns0:createBillCallsRequestResponse" />
  <xsd:element name="getPaymentListPaged" type="ns0:getPaymentListPaged" />
  <xsd:element name="deleteSharedNumberListDOL" type="ns0:deleteSharedNumberListDOL" />
  <xsd:element name="getUnbilledCallsListResponse" type="ns0:getUnbilledCallsListResponse" />
  <xsd:element name="createBillChargesRequestResponse" type="ns0:createBillChargesRequestResponse" />
  <xsd:element name="addPleSubscriberLimitInfo" type="ns0:addPleSubscriberLimitInfo" />
  <xsd:element name="addSharedNumberListDOLResponse" type="ns0:addSharedNumberListDOLResponse" />
  <xsd:element name="getServicesListResponse" type="ns0:getServicesListResponse" />
  <xsd:element name="getBillCallsPagedResponse" type="ns0:getBillCallsPagedResponse" />
</xsd:schema>