USSS/Service References/AuthSoap/AuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="urn:uss-wsapi:Auth" targetNamespace="urn:uss-wsapi:Auth" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="UssWsApiException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:int" />
      <xsd:element minOccurs="0" name="errorDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="authResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="auth">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="login" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="authResponse" type="ns0:authResponse" />
  <xsd:element name="auth" type="ns0:auth" />
</xsd:schema>